@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Nunito:400,300);
@import url(https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.withBackground{
    background: url(http://822420fb08c1898dea0e-c9228deb93c56b2bac4bc2862bfae73e.r6.cf1.rackcdn.com/lps/assets/u/fpt-112704-Wedding-Flowers.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.card-columns .card{
  /*display: inline-block;*/
  border:1px solid rgba(0,0,0,0.2);
  margin:0;
  margin-bottom: 15px;
  padding:10px;
  box-shadow: 2px 2px 5px 
}
.card {
  width:20rem;
}
.card-columns .card img{
  width:100%;
}
.stickyfooter {
  position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #808080;
}
input[type=checkbox]:checked + label {
  /*color:red;*/
  text-decoration: line-through;
} /*This is the MDN spec for doing this*/


.mainimg {
  background:url(http://www.weddingritz.com/files/attach/images/185166/415/806/009/648c15332f0ab1cf4b94a30e4682fbc2.jpg)no-repeat;
  width:100%;
  height:500px;
  background-size: 100%;
  margin-bottom:30px;
}

.coupletitle {
    font-family: 'Nanum Brush Script', serif;
    padding-top: 100px;
    position: relative;
    font-size: 82px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    color: white;
}
.weddingdate {
    font-family: 'Nanum Brush Script', serif;
    padding-top: 10px;
    position: relative;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    color: white;
}
.wishlistheader {
  /*border-color:rgb(217, 217, 217);*/
  /*border-style:solid;*/
  /*border-width:1px;*/
  background-color: rgb(232, 244, 246);
  /*box-sizing:border-box;*/
  color:rgb(33, 32, 31);
  font-family: 'Nanum Gothic', serif;
  font-size: 13px;
  color:rgb(127,127,127);

}
.wishlistrow {
  margin-top: 2px;
  border-color:rgb(217, 217, 217);
  border-style:solid;
  border-width:1px;
  font-family: 'Nanum Gothic', serif;
  /*font-family: 'Nanum Brush Script', serif;*/
  font-size:13px;
 
  /*box-sizing:border-box;*/
  /*color:rgb(33, 32, 31);*/
  /*display:block;*/
  /*font-family:"Proxima Nova", Helvetica, Arial, sans-serif;*/
  /*font-size:14px;*/
  /*font-weight:300;*/
  /*height:105px;*/
  /*padding-bottom:10px;*/
  /*padding-left:10px;*/
  /*padding-right:10px;*/
  /*padding-top:10px;*/
  /*position:relative;*/
  /*text-size-adjust:100%;*/
  /*width:726px;*/
  /*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/
}

/*div.row{*/
/*box-sizing:border-box;*/
/*color:rgb(33, 32, 31);*/
/*display:block;*/
/*font-family:"Proxima Nova", Helvetica, Arial, sans-serif;*/
/*font-size:14px;*/
/*font-weight:300;*/
/*height:84px;*/
/*line-height:20px;*/
/*margin-left:-10px;*/
/*margin-right:-10px;*/
/*width:726px;*/
/*}*/
.imglink {
  vertical-align: middle;
  height:75px;
  width:75px;
  border-radius: 25%;
  /*border-style:solid;*/
  /*border-color:black;*/
  /*border-width: 1px;*/
}
body { padding-top: 0px; }
span.freqword {
  padding: 0 1px 0 1px;
  margin: 1px 1px 1px 1px;
  display: inline-block;
  border-style: dotted;
  border-width: 0.1px;
}

.btnGift {
    background-color: rgb(1, 180, 192);
    /*background-image: none;*/
    /*border-bottom-color: rgb(1, 180, 192);*/
    /*border-bottom-left-radius: 0px;*/
    /*border-bottom-right-radius: 0px;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 2px;*/
    /*border-collapse: separate;*/
    /*border-image-outset: 0px;*/
    /*border-image-repeat: stretch;*/
    /*border-image-slice: 100%;*/
    /*border-image-source: none;*/
    /*border-image-width: 1;*/
    /*font-family: 'Nanum Gothic', serif;*/
    /*border-left-color: rgb(1, 180, 192);*/
    /*border-left-style: solid;*/
    /*border-left-width: 2px;*/
    /*border-right-color: rgb(1, 180, 192);*/
    /*border-right-style: solid;*/
    /*border-right-width: 2px;*/
    /*border-top-color: rgb(1, 180, 192);*/
    /*border-top-left-radius: 0px;*/
    /*border-top-right-radius: 0px;*/
    /*border-top-style: solid;*/
    /*border-top-width: 2px;*/
    /*box-sizing: border-box;*/
    color: rgb(255, 255, 255);
    /*cursor: pointer;*/
    /*display: block;*/
    /*float: left;*/
    /*font-weight: 500;*/
    /*height: 38px;*/
    /*letter-spacing: 1.2px;*/
    /*line-height: 20px;*/
    /*margin-bottom: 0px;*/
    max-width: 160px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    text-align: center;
    /*text-decoration-color: rgb(255, 255, 255);*/
    /*text-decoration-line: none;*/
    /*text-decoration-style: solid;*/
    /*text-overflow: ellipsis;*/
    /*text-transform: uppercase;*/
    vertical-align: middle;
    /*white-space: nowrap;*/
    width: 160px;
}

span.freqword.num1 {
  background-color: lightgreen;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.space {
  display: inline-block;
  width:10px;
  color: transparent;
  margin: 0 0px;
}

#accordion{
  margin-top: 100px;
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

#playcontrol{
     margin-left: auto;
    margin-right: auto;
    
}
.hide{
  display:none;  
}


.letter {
//  border-bottom: 1px solid #53bdff;
  border-bottom: 1px solid #000000;
  display: inline-block;
  width: 15px;
  color: transparent;
  text-align: center;
  margin: 0 1px;
  padding: 0px;
//  border: 1px solid #73AD21;
}
.nonAlphbetLetter{
  width:15px;
}
.sentence {
//  font-family: "Londrina Solid", cursive;
  font-size: 20px;
  padding-left: 0px;  
  display: block;
}

.normal {
  color: #000000;
//  text-shadow: 1px 1px 0 #20a9ff;
}

.correct {
  color: #53bdff;
//  text-shadow: 1px 1px 0 #20a9ff;
}
.incorrect {
  background: #ff4d4d;
//  text-shadow: 1px 1px 0 red;
  color: white;
}

@media (max-width: 767px) {
.mainimg {
  background:url(http://www.weddingritz.com/files/attach/images/185166/415/806/009/648c15332f0ab1cf4b94a30e4682fbc2.jpg)no-repeat;
  width:100%;
  height:220px;
  background-size: 100%;
  margin-bottom:5px;
}
.wishlistrow {
    text-align: center;
}
.coupletitle {
    font-family: 'Nanum Brush Script', serif;
    padding-top: 50px;
    position: relative;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    color: white;
}
.weddingdate {
    font-family: 'Nanum Brush Script', serif;
    padding-top: 10px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    color: white;
}
  
  .navbar {
  font-size:smaller;
  margin-bottom: 0px;
  }
  .navbar-brand
  {
    font-size:15px;
    
  }
  .btn {
    font-size:smaller;
  }
  
  .progress { 
    margin-top: -20px;
    margin-bottom: 0px;
    z-index: 1;
    position:relative
    
  }

}
