doctype html
include head.pug
body
  include menu_login.pug
  .container-fluid.theme-showcase(role='main')
    .row
      .col-md-12.col-xs-12
        h2 체크리스트
        div
          ul.list-group
            li.list-group-item
              .row
                .col-md-3 D-DAY
                .col-md-6 항목
                .col-md-3
                .col-md-3
            each checkitem in basiclist 
              li.list-group-item
                .row
                  .col-md-3 #{checkitem.dday}
                  .col-md-6
                    input(id='cb'+checkitem._id,type='checkbox', aria-label='...')
                    label(for='cb'+checkitem._id) #{checkitem.title}
                  .col-md-3
                    .btn.btn-default 수정
        .row
          .col-md-12.col-xs-12
            button#insert.btn.btn-default(type='submit') 항목 추가하기
  script.
    $(document).ready(function(){
      $('a').click(function()
      {
        if($(this).parent().next().next().text() == "completed")
        {
            var result = confirm('Do you want to study again?')
            if(result)
            {
              event.preventDefault();
              var url = $(this).attr('href').replace('/play/','/playagain/')
              window.location.replace(url);
            }
            else
            {
              event.preventDefault();
            }
        }

      });
    })
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-100905207-1', 'auto');
    ga('send', 'pageview');
