doctype html
include head.pug
body
  include menu_logout.pug
  .container-fluid.theme-showcase(role='main')
    .row
      .col-md-12.col-xs-12
        .jumbotron
          h2 웨딩박사에 오신것을 환영합니다.
          h4 결혼시작에 필요한 모든 위시 아이템을 한곳에!
          p
            button.loginBtn.loginBtn--facebook(onclick="location.href='/auth/facebook'")
              | Login with Facebook
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-100905207-1', 'auto');
    ga('send', 'pageview');
